@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --font-brand: "Jura", sans-serif;

    --color-primary: #3C50E0;
    --color-whitten: #f1f5f9;
    --color-stroke: #E2E8F0;
    --color-strokedark: #2E3A47;
    --color-dark: #1C2434;
    --color-boxdark: #24303f;

    --animate-fadein: 1s ease-in-out fadeIn;

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}