@import "tailwindcss";

@theme {
    --color-primary: #3C50E0;
    --color-whitten: #f1f5f9;
    --color-stroke: #E2E8F0;
    --color-strokedark: #2E3A47;
    --color-dark: #1C2434;
    --color-boxdark: #24303f;
}